@import url("https://fonts.googleapis.com/css2?family=Bonbon&family=Noto+Sans+Zanabazar+Square&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Imagem_de_fundo.jpeg);
  background-position: center;
  color: #5C4033;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  
  font-family: "Noto Sans Zanabazar Square", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.em_coluna {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-family: "Bonbon", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}
h2{
  text-align: center;
}
#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.container {
    
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}
form {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  max-width: 500px;
  /*height:450px;*/
  padding: 40px;
  border-radius: 20px;
}
form h1 {
  text-align: center;
  font-size: 40px;
  color: brown;
}
form p {
  text-align: center;
  margin-top: 20px 0;
}
.cada_entrada {
  position: relative;
  margin: 30px 0;
}
.cada_entrada label {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.2s;
  cursor: text;
}
.entrada {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  font-size: 17px;
  outline: 0;
}
form .cada_entrada .entrada:focus ~ label,
form .cada_entrada .entrada:valid ~ label {
  transform: translateY(-24px);
  font-size: 12px;
  /*color: brown;*/
}

/*      */
form text[type="submit"] {
  padding: 10px 40px;
  border: 0;
  border-radius: 10px;
  background-color: brown;
  color: white;
  cursor: pointer;
}
.btn {
  width: 100%;
  text-align: center;

}
form input[type="submit"] {
  padding: 10px 40px;
  border: 0;
  border-radius: 10px;
  background-color: brown;
  font-size: 17px;
  color: white;
  cursor: pointer;
}
.avaliacao{
  display:flex;
}
:root {
    --star-color: #d4d4d4;
    --yellow: #ffeb3b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
}
.rating-label{
    font-family: "Noto Sans Zanabazar Square", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:17px;

}
.rating-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-star {
    position: relative;
    display: flex;
    margin: 10px 0;
    flex-direction: row-reverse;
}

.rating-star input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    overflow: hidden;
    cursor: pointer;
}

.rating-star input::before {
    content: '\eeb8';
    position: absolute;
    font-family: boxicons;
    font-size: 34px;
    position: absolute;
    left: 4px;
    color: var(--star-color);
    transition: all .3s;
}

.rating-star input:nth-child(2n + 1)::before {
    right: 4px;
    left: initial;
}

.rating-star input:hover ~ input::before,
.rating-star input:hover::before,
.rating-star input:checked ~ input::before,
.rating-star input:checked::before {
    color: var(--yellow);
}

.rating-star.rating-blue input:hover ~ input::before,
.rating-star.rating-blue input:hover::before,
.rating-star.rating-blue input:checked ~ input::before,
.rating-star.rating-blue input:checked::before {
    color: var(--yellow);
}

.rating-star.rating-green input:hover ~ input::before,
.rating-star.rating-green input:hover::before,
.rating-star.rating-green input:checked ~ input::before,
.rating-star.rating-green input:checked::before {
    color: var(--yellow);
}
